@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
}
.light {
  --foreground-text: rgb(2, 10, 19);
  --app-bg: rgb(255, 253, 252);
  --cardBackground: rgba(0, 0, 0, 0.027);
  --light-text: rgb(84, 84, 84);
  --navlinks: rgb(0, 0, 0);
  --cardBorder: rgba(2, 10, 19, 0.165);
  --navigationBg: rgba(255, 255, 255, 0.97);
  --blogCardBg: #6866b00f;
  --blogCardDarkBg: rgba(119, 116, 200, 0.071);
}
.dark {
  --foreground-text: rgb(243, 243, 243);
  --app-bg: rgb(2, 10, 19);
  --cardBackground: rgba(255, 255, 255, 0.08);
  --light-text: rgb(198, 198, 198);
  --navlinks: rgb(255, 255, 255);
  --cardBorder: rgb(59, 67, 76);
  --navigationBg: rgba(0, 0, 0, 0.97);
  --blogCardBg: rgba(49, 46, 129, 0.141);
  --blogCardDarkBg: rgba(128, 125, 205, 0.114);
}

body {
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--app-bg);
}

/* doint it here cz -webkit-text-stroke property is not available in tailwind */
.stroke-name {
  -webkit-text-stroke: 1px var(--foreground-text);
  position: relative;
}

.stroke-name::after {
  content: "I'm Sushant Chapagain";
  position: absolute;
  top: 0;
  left: 0;
  color: var(--foreground-text);
  width: 0;
  overflow: hidden;
}

.stroke-name::after {
  white-space: nowrap;
  animation: nameAnimate 1.8s linear both;
}

@keyframes nameAnimate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
