@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-text: #020a13;
  --app-bg: #fffdfc;
  --cardBackground: rgba(0, 0, 0, 0.027);
  --light-text: #545454;
  --cardBorder: #020a132a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-text: #f3f3f3;
    --app-bg: #020a13;
    --cardBackground: rgba(255, 255, 255, 0.08);
    --light-text: #c6c6c6;
    --cardBorder: #3b434c;
  }
}

body {
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--app-bg);
}

/* doint it here cz -webkit-text-stroke property is not available in tailwind */
.stroke-name {
  -webkit-text-stroke: 1px var(--foreground-text);
  position: relative;
}

.stroke-name::after {
  content: "I'm Sushant Chapagain";
  position: absolute;
  top: 0;
  left: 0;
  color: var(--foreground-text);
  width: 0;
  overflow: hidden;
}
.stroke-name:hover::after {
  white-space: nowrap;
  animation: nameAnimate 0.5s linear both;
  cursor: pointer;
}

@keyframes nameAnimate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
