@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
}
.light {
  --foreground-text: rgb(2, 10, 19);
  --app-bg: rgb(255, 253, 252);
  --cardBackground: rgba(0, 0, 0, 0.027);
  --light-text: rgb(84, 84, 84);
  --navlinks: rgb(0, 0, 0);
  --cardBorder: rgba(2, 10, 19, 0.165);
  --navigationBg: rgba(255, 255, 255, 0.97);
  --blogCardBg: #6866b00f;
  --blogCardDarkBg: rgba(119, 116, 200, 0.071);
  --prose-code-bg: rgba(53, 53, 53, 0.092);
  --prose-figure-bg: rgba(21, 21, 21, 0.858);
}
.dark {
  --foreground-text: rgb(243, 243, 243);
  --app-bg: rgb(2, 10, 19);
  --cardBackground: rgba(255, 255, 255, 0.08);
  --light-text: rgb(198, 198, 198);
  --navlinks: rgb(255, 255, 255);
  --cardBorder: rgb(59, 67, 76);
  --navigationBg: rgb(2, 10, 19);
  --blogCardBg: rgba(49, 46, 129, 0.141);
  --blogCardDarkBg: rgba(128, 125, 205, 0.114);
  --prose-code-bg: rgba(51, 51, 51, 0.659);
  --prose-figure-bg: rgba(21, 21, 21, 0.858);
}

body {
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--app-bg);
}

.stroke-name {
  @apply relative after:absolute after:left-0 after:top-0 after:w-0 
  after:animate-[nameAnimate_1.8s_linear_both] after:overflow-hidden
   after:whitespace-nowrap after:text-[color:var(--foreground-text)] 
   after:content-["I'm_Sushant_Chapagain"];
  -webkit-text-stroke: 1px var(--foreground-text);
}
@keyframes nameAnimate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* rehype pretty code styling */
pre {
  @apply rounded-md;
}

.prose pre {
  @apply border border-neutral-700 p-0;
}

pre [data-line] {
  @apply px-1;
}

/* Tailwind typography styling */
.prose,
.prose a,
.prose h3 {
  @apply !text-foregroundText;
}

.prose code {
  @apply rounded bg-[var(--prose-code-bg)] p-1 text-inherit;
}

.prose blockquote {
  @apply !text-lightText;
}

.prose figure code {
  @apply !text-wrap !rounded !bg-[var(--prose-figure-bg)] !p-3 text-inherit;
}

.prose a {
  @apply border-b pb-1 no-underline;
}
